@tailwind base;
@tailwind components;
@tailwind utilities;

.common_section {
    @apply border-secondary-border border-[3px] py-3 px-4 md:px-6;
    @apply bg-secondary_bg overflow-hidden;

}

.h-button-calc-100 {
    height: calc(100% + 14px);
  }


  .vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform:rotate(0deg);
    transform: rotate(0deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  @apply bg-secondary-border
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}